In [216]:
import sys

sys.path.append("../../")
import pandas as pd
import torch
import numpy as np
import datetime

# that is something to
import os
from pprint import pprint
import math
import matplotlib.pyplot as plt

pd.set_option("display.max_rows", 100)
pd.set_option("display.max_columns", 20)

plt.style.use("classic")
plt.rcParams["axes.grid"] = True
plt.rcParams["figure.figsize"] = (10, 6)
plt.rcParams["axes.formatter.useoffset"] = False
plt.rcParams["axes.formatter.limits"] = [-1000000000, 1000000000]

In [217]:
from fredapi import Fred

fred = Fred(api_key="86962d243cd55992a83872d88f46e6de")

In [253]:
res = fred.search("us ppi")

size = 10
res = res.sort_values("popularity", ascending=False).head(size)
res = res.reset_index()[["title", "id", "frequency"]]
res

                                               title         id frequency
0  Producer Price Index by Commodity: Machinery a...  WPU117828   Monthly
1  Producer Price Index by Commodity: Professiona...    WPS4511   Monthly
2  Producer Price Index by Commodity: Real Estate...  WPU431102   Monthly
3  Producer Price Index by Commodity: Pulp, Paper...  WPU091203   Monthly
4  Producer Price Index by Commodity: Transportat...     WPU142   Monthly
5  Producer Price Index by Commodity: Machinery a...    WPS1178   Monthly
6  Producer Price Index by Commodity: Retail Trad...    WPU58G1   Monthly
7  Producer Price Index by Commodity: Pulp, Paper...  WPS091301   Monthly
8  Producer Price Index by Commodity: Intermediat...   WPUID542   Monthly
9  Producer Price Index by Commodity: Final Deman...     PPIDTS   Monthly

In [254]:
index = 0
series_name = res.iloc[index].id
original_dates = pd.Series(fred.get_series_vintage_dates(series_name))
original_dates = original_dates[original_dates.dt.year == 2024]
original_dates = original_dates.reset_index(drop=True)

In [256]:
res = fred.get_series(series_name)
res = pd.DataFrame({"value": res[~res.isna()]})
res = res.reset_index()
res.columns = ["wrong_dt", "value"]
res = res[res.wrong_dt.dt.year >= original_dates.iloc[0].year]
res = res.reset_index(drop=True)
res = res.drop(columns=["wrong_dt"])

assert res.shape[0] == original_dates.shape[0]

res["original_date"] = pd.to_datetime(original_dates)
res

      value original_date
0   119.624    2024-01-12
1   119.624    2024-02-16
2   119.624    2024-03-14
3   119.624    2024-04-11
4   119.624    2024-05-14
5   120.663    2024-06-13
6   120.663    2024-07-12
7   120.663    2024-08-13
8   121.589    2024-09-12
9   121.589    2024-10-11
10  121.589    2024-11-14
11  121.589    2024-12-12