In [1]:
import sys

sys.path.append("../../")
import pandas as pd
import torch
import numpy as np
import datetime

# that is something to
import os
from pprint import pprint
import math
import matplotlib.pyplot as plt

pd.set_option("display.max_rows", 100)
pd.set_option("display.max_columns", 20)

plt.style.use("classic")
plt.rcParams["axes.grid"] = True
plt.rcParams["figure.figsize"] = (10, 6)
plt.rcParams["axes.formatter.useoffset"] = False
plt.rcParams["axes.formatter.limits"] = [-1000000000, 1000000000]

In [3]:
currency = "USD"

if os.path.exists('/mnt/h'):
    base_path = '/mnt/h/data'
else:
    base_path = '../../phitech-data'

calendar = pd.read_csv(f"{base_path}/calendars/{currency}_calendar_2024.csv")
calendar.head()

,event,start_date,country,impact,time_of_day,event_date
0,ADP Employment Change,12/04/2024 13:15:00,USD,HIGH,13:15:00,12/04/2024
1,ADP Employment Change,07/31/2024 12:15:00,USD,HIGH,12:15:00,07/31/2024
2,ADP Employment Change,01/04/2024 13:15:00,USD,HIGH,13:15:00,01/04/2024
3,ADP Employment Change,10/02/2024 12:15:00,USD,HIGH,12:15:00,10/02/2024
4,ADP Employment Change,07/03/2024 12:15:00,USD,HIGH,12:15:00,07/03/2024

In [ ]:
# TODO: continue here with building the notebook.