In [1]:
import sys

sys.path.append("../")

import pandas as pd
import numpy as np
import datetime
import os
from pprint import pprint
import matplotlib.pyplot as plt
import time
import vectorbtpro as vbt
from time import time
import helpers as pth
import platform
from dotenv import load_dotenv
import scipy.stats as stats
import time

pd.set_option("display.max_rows", 100)
pd.set_option("display.max_columns", 20)

plt.style.use("classic")
# plt.rcParams["axes.grid"] = True
plt.rcParams["figure.figsize"] = (10, 6)
plt.rcParams["axes.formatter.useoffset"] = False
plt.rcParams["axes.formatter.limits"] = [-1000000000, 1000000000]


if platform.system().lower() == "windows":
    base_data_path = "H:\\phitech-data\\01_raw"
else:
    from core_chains.simple.llm import make_Q_chain

    base_data_path = "../../phitech-data/01_raw"
    load_dotenv("../../sandatasci-core/credentials")
    Q = make_Q_chain("gpt-4o-instance1", __vsc_ipynb_file__)

/Users/e1211913/miniconda3/envs/trading/lib/python3.12/site-packages/telegram/utils/request.py:49: UserWarning: python-telegram-bot is using upstream urllib3. This is allowed but not supported by python-telegram-bot maintainers.
  warnings.warn(

logging mode: dev

In [2]:
%%html
<style>
.dataframe {
    font-size: 9pt; /* Adjust font size as needed */
}
</style>

In [3]:
I = pth.load_instruments(base_path=base_data_path)
I.keys()

dict_keys(['6B', 'MES'])

In [13]:
I["6B"].vbt.to_2d_array()

array([[  1.2708,   1.2715,   1.2705, ...,   1.271 , 274.    , 269.    ],
       [  1.2706,   1.2707,   1.2706, ...,   1.2706,  18.    ,  55.    ],
       [  1.2707,   1.2707,   1.2706, ...,   1.2706,  58.    ,  15.    ],
       ...,
       [  1.2928,   1.2928,   1.2927, ...,   1.2927,  13.    ,  25.    ],
       [  1.2928,   1.2929,   1.2928, ...,   1.2929,   1.    ,  39.    ],
       [  1.2929,   1.2929,   1.2929, ...,   1.2929,  17.    ,  13.    ]])

In [33]:
I["6B"].iloc[:1024].close.vbt.plot()

FigureWidget({
    'data': [{'name': 'close',
              'showlegend': True,
              'type': 'scatter',
              'uid': 'f562bc7f-98c0-434b-a5ac-0e88d5afcf24',
              'x': array([datetime.datetime(2024, 5, 19, 23, 0),
                          datetime.datetime(2024, 5, 19, 23, 1),
                          datetime.datetime(2024, 5, 19, 23, 2), ...,
                          datetime.datetime(2024, 5, 20, 18, 17),
                          datetime.datetime(2024, 5, 20, 18, 18),
                          datetime.datetime(2024, 5, 20, 18, 19)], dtype=object),
              'y': array([1.2706, 1.2707, 1.2707, ..., 1.2727, 1.2726, 1.2724])}],
    'layout': {'height': 350,
               'legend': {'orientation': 'h',
                          'traceorder': 'normal',
                          'x': 1,
                          'xanchor': 'right',
                          'y': 1.02,
                          'yanchor': 'bottom'},
               'margin': {'b': 30, 'l': 30, 'r': 30, 't': 30},
               'template': '...',
               'width': 700}
})

In [47]:
ds = I["6B"].close.iloc[:1024].vbt.drawdowns
ds.readable.head()

,Drawdown Id,Column,Start Index,Valley Index,End Index,Start Value,Valley Value,End Value,Status
0,0,close,2024-05-19 23:05:00,2024-05-19 23:07:00,2024-05-19 23:26:00,1.2708,1.2706,1.2708,Recovered
1,1,close,2024-05-19 23:29:00,2024-05-20 00:00:00,2024-05-20 00:04:00,1.2708,1.2705,1.2708,Recovered
2,2,close,2024-05-20 00:14:00,2024-05-20 00:15:00,2024-05-20 00:17:00,1.2709,1.2708,1.2709,Recovered
3,3,close,2024-05-20 00:22:00,2024-05-20 00:25:00,2024-05-20 00:27:00,1.2710,1.2709,1.2710,Recovered
4,4,close,2024-05-20 00:31:00,2024-05-20 00:33:00,2024-05-20 00:38:00,1.2712,1.2711,1.2712,Recovered

In [51]:
ds.status.values

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0])

In [52]:
ds.get_apply_mapping_arr("status")

array(['Recovered', 'Recovered', 'Recovered', 'Recovered', 'Recovered',
       'Recovered', 'Recovered', 'Recovered', 'Recovered', 'Recovered',
       'Recovered', 'Recovered', 'Recovered', 'Recovered', 'Recovered',
       'Recovered', 'Recovered', 'Recovered', 'Active'], dtype=object)